h2,h3,p{  
    font-family: Arial, Helvetica, sans-serif;
    }
    
    h2{
    font-size: 40px;
    }
    
    h3{
    font-size: 30px;
    }
    
    p,h4{
    font-size: 20px;
    }
    
    li{
    font-size: 20px;
    }
    
    .tab {
        display: none;
    }
    
    .tabs {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    
    .tabs button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }
    
    .tabs button:hover {
        background-color: #ddd;
    }
    
    .tabs button.active {
        background-color: #ccc;
    }
    